modLoader = "javafml"
loaderVersion = "${forge_version_range}"
license = "${license}"
issueTrackerURL="https://github.com/Good-Mods-Modding/LambdaCraft-Core/issues"

[[mods]]
modId = "${mod_id}"
version = "${mod_version}"
displayName = "${mod_name}"
displayURL="https://goodmodsmodding.net"
logoFile="icon.png"
credits="${credits}"
authors = "${authors}"
description = '''${description}'''

[[dependencies.${mod_id}]]
    modId = "forge"
    mandatory = true
    versionRange = "${forge_version_range}"
    ordering = "NONE"
    side = "BOTH"

[[dependencies.${mod_id}]]
    modId = "minecraft"
    mandatory = true
    versionRange = "${minecraft_version_range}"
    ordering = "NONE"
    side = "BOTH"

[modproperties.${mod_id}]
    catalogueImageIcon="icon.png"
    configuredBackground="${mod_id}:textures/block/amethyst_bronze_block.png"
